<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.oschina.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme_Light" >
        <activity
            android:name=".AppStart"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoad" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.oschina.net"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.oschina.net"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="my.oschina.net"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="my.oschina.net"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TweetActivity"
            android:label="发送到动弹"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FindUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.EventLocationActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="登录"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.LoginBindActivityChooseActivity"
            android:screenOrientation="portrait"
            android:label="登录"/>
        <activity android:name=".ui.LoginAccountBindOpenIdActivity"
            android:screenOrientation="portrait"
            android:label="账号绑定"/>
        <activity
            android:name=".ui.DetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.ImagePreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SimpleBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".team.ui.TeamMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".team.ui.TeamNewActiveActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".team.ui.TeamNewIssueActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:label="新团队任务"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.dtr.zxing.activity.CaptureActivity"
            android:label="@string/actionbar_title_qr_scan"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ShakeActivity"
            android:label="@string/actionbar_title_shake"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.SelectFriendsActivity"
                  android:label="@string/actionbar_title_select_friends"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:screenOrientation="portrait"/>

        <service android:name="net.oschina.app.LogUploadService" />

        <service android:name="net.oschina.app.service.ServerTaskService" >
            <intent-filter>
                <action android:name="net.oschina.app.ACTION_PUB_BLOG_COMMENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.oschina.app.ACTION_PUB_COMMENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.oschina.app.ACTION_PUB_POST" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.oschina.app.ACTION_PUB_TWEET" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.oschina.app.ACTION_PUB_SOFTWARE_TWEET" />
            </intent-filter>
        </service>

        <receiver android:name="net.oschina.app.broadcast.AlarmReceiver" />

        <service
            android:name="net.oschina.app.service.NoticeService"
            android:process=":notice" />
        <service android:name="net.oschina.app.service.DownloadService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53cb520c56240bbd7d076ce5" >
        </meta-data>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="pIbgtjFevz8LlkbNsYUNl4Qp" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait" />
    </application>

</manifest>
